.root {
    -fx-background-image: url("Images/apple_background.png");
    -fx-background-repeat: repeat;
    -fx-background-size: 25%;
}

.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.page-title {
    -fx-background-color: #81C049;
}

.exit-button {
    -fx-background-color: transparent;
}

.accordion > .titled-pane {
    -fx-padding: 0.5em 0 0 0;
}

.titled-pane > .title {
    -fx-alignment: center;
    -fx-background-color: rgba(232, 230, 225, 0.9);
    -fx-border-color: transparent;
    -fx-background-radius: 2em;
}

.titled-pane:collapsed > .title {
    -fx-background-radius: 2em;
}

.titled-pane:expanded > .title {
    -fx-background-radius: 2em 2em 0 0;
}

.titled-pane > .content {
    -fx-border-color:transparent;
    -fx-background-color: #81C049;
    -fx-background-radius: 0 0 2em 2em;
}

.list-view {
    -fx-background-color: #81C049;
}

.list-view .list-cell:even {
    -fx-background-color: #81C049;
}

.list-view .list-cell:odd {
    -fx-background-color: #9fed58;
}

.combo-box > .list-cell:even {
    -fx-background-color: white;
}

.combo-box > .list-cell:odd {
    -fx-background-color: white;
}

.hbox {
    -fx-spacing: 1em;
    -fx-background-color: transparent;
    -fx-padding: 2em 0 2em 0;
}

.button {
        -fx-text-color:black;
        -fx-padding:4px;
        -fx-background-color: rgba(232, 230, 225, 0.9);
        -fx-background-radius: 10px;
}

.garden-cell {
        -fx-background-radius: 0px;
        -fx-border-color: black;
        -fx-border-size: 2px
}

.garden-cell:selected {
    -fx-border-color: yellow;
    -fx-border-size: 10px;
    -fx-background-radius: 20px;
}
