.root {
    -fx-background-image: url("Images/apple_background.png");
    -fx-background-repeat: repeat;
    -fx-background-size: 25%;
}

.scrollPane .accordion .titled-pane .title {
    -fx-background-color: transparent;
    -fx-color: transparent;
}


.accordion > .titled-pane {
    -fx-padding: 0 0 0.5em 0;
}

.titled-pand > .title {
    -fx-text-align: center;
}