.title-label {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.root {
    -fx-background-image: url("../Images/apple_background2.png");
    -fx-background-repeat: repeat;
    -fx-background-size: 25%;
}

.container {
    -fx-background-color: #ffffff;
    -fx-padding: 30px;
    -fx-border-color: lightgray;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0.5, 0, 0);
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #555;
}

.text-field, .password-field {
    -fx-pref-width: 100%;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-pref-width: 100%;
    -fx-font-size: 14px;
}
